<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

    <h3 class='responsive bold-italic-text'>CURRENTLY EDITING: <%= pok.name %></h3>
    <form class='highlight' action="/update/<%= pok.id %>" method="post">
      <label for="name">CHANGE POKEMON NAME:</label>
      <input class="highlight"type="text" name="name" value="<%= pok.name %>" placeholder="CHANGE POKEMON NAME">
      <label for="name">CHANGE COMBAT POWER:</label>
      <input class="highlight"type="number" name="cp" value="<%= pok.cp %>"placeholder="CHANGE COMBAT POWER">
      <label for="name">SELECT NEW TRAINER FROM THE DROP DOWN MENU BELOW:</label>
      <select name="trainer_id">
        <% for (var i = 0; i < trainer.length; i++) {
           if (trainer[i].id === pok.trainer_id) { %>
            <option value="<%= trainer[i].id %>" selected><%= trainer[i].name %></option>
          <% } else { %>
            <option value="<%= trainer[i].id %>"><%= trainer[i].name %></option>
          <% }
         } %>
      </select>
      <input class="highlightwaves-effect waves-light btn add-pokemon-btn" type="submit" value="UPDATE POKEMON PROPERTIES">
    </form>

    <script type="text/javascript">
      $('select').material_select();
    </script>
