<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

    <h3 class='bold-italic-text'>CURRENTLY EDITING: <%= pok.name %></h3>
    <form class='highlight' action="/update/<%= pok.id %>" method="post">
      <label for="name">CHANGE POKEMON NAME:</label>
      <input class="highlight"type="text" name="name" value="<%= pok.name %>" placeholder="CHANGE POKEMON NAME">
      <label for="name">SELECT NEW TRAINER ID:</label>
      <input class="highlight"type="number" name="trainer_id" value="<%= pok.trainer_id %>"placeholder="CHANGE TRAINER ID">
      <!-- <input class="highlight"type="text" name="trainer_name" value="<%= trainer.name %>"placeholder="CHANGE TRAINER NAME"> -->
      <label for="name">CHANGE COMBAT POWER:</label>
      <input class="highlight" type="text" name="in_gym" value="<%= pok.in_gym %>"placeholder="IN GYM: TRUE OR FALSE?">
      <label for="name">IN GYM: TRUE OR FALSE?</label>
      <input class="highlight"type="number" name="cp" value="<%= pok.cp %>"placeholder="CHANGE COMBAT POWER">
      <input class="highlightwaves-effect waves-light btn add-pokemon-btn" type="submit" value="UPDATE POKEMON PROPERTIES">
    </form>



<!-- <h2>Trainer:</h2>
<select name="trainer_id">
  <% for (var i = 0; i < trainer.length; i++) {
     if (trainer[i].id === pok.trainer_id) { %>
      <option value="<%= trainer[i].id %>" selected><%= trainer[i].name %></option>
    <% } else { %>
      <option value="<%= trainer[i].id %>"><%= trainer[i].name %></option>
    <% }
   } %>
</select> -->

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
